@import url(./stylesheet.css);

body{
    background-color: #ccffff;
    margin: 0%;
    font-family: 'Satoshi';
    padding-top: 30px;
}

.topo{
    background-color: #28536b;
    color: #ccffff;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}
.linha{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 3%;
}
.logotipo{
    height: 50px;
    width: auto;
    border-radius: 50%;
    margin-left: 5px;
}
.nomedabiblioteca{
    font-size: bold;
}
.voltar{
    margin-left: 25px;
    
}
.imagem{
    height: 40px;
    width: auto;
}

.display{
    background-color: #ffffff;
    box-shadow: 5px 5px 30px 5px #28536b;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 20px;
    display: flex;
}
.apresentação_imagem{
    width: auto;
    height: 300px;
    margin: 3%;
    border-radius: 12px;
}
.Texto{
    margin-top: 15px;
    color: #000000;
}
.Titulo{
    font-size: larger;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}
.infos{
    background-color: #ffffff;
    box-shadow: 5px 5px 30px 5px #28536b;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
    border-radius: 20px;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 20px;
    padding-bottom: 33px;
}

.topicos{
    font-size: larger;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.tridivisão{
    display: grid;
    grid-template-columns: auto auto auto;
}