@import url(./stylesheet.css);

body{
    background-color: #ccffff;
    margin: 0%;
    font-family: 'Satoshi';
    padding-top: 30px;
}

.topo{
    background-color: #28536b;
    color: #ccffff;
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 999;
}

.linha{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 3%;
}

.logotipo{
    height: 50px;
    width: auto;
    border-radius: 50%;
    margin-left: 10px;
}

.nomedabiblioteca{
    font-size: bold;
}

.estante{
    margin: 4%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.bordas{
    background-color: #fff;
    border: 7px solid #d6d6d6;
    box-shadow: 5px 5px 30px 5px #28536b;
    border-radius: 5px;
    padding: 7px;
    margin: 1%;
    transition: all 0.3s ease;
}

a{
    text-decoration: none;
}

.display_livro{
    box-shadow: 1px 1px 6px 1px #000000;
    height: auto;
    width: 250px;
}

.nome_do_livro{
    font-weight: bold;
    color: #000000;
}

.nome_do_autor{
    font-weight:lighter;
}

.bordas:hover{
    transform: scale(1.05);

}